body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.content {
  margin: 20px 50px;
  padding 10px;
}

.flex {
  margin: 20px 50px;
  padding 10px;
  display: flex;
  flex-flow: row wrap;
}

.nav {
  z-index: 2;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  background-color: #eeeeee;
  list-style-type: none;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav-logo a {
  display: block;
  font-size: 24px;
  padding: 5px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.nav .right a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-left: 1px solid black;
}

.nav .right a:hover {
  background-color: #cccccc;
}

.filler {
  height: 40px;
  width: 100%;
}

.card {
  padding: 20px;
  margin: 10px;
  text-align: left;
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
  max-width: 40%;
  word-wrap: break-word;
}

.title {
  font-size: 28px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: #333333;
}

.title-big {
  font-size: 36px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

input[type=text], input[type=password] {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 5px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.flash-holder {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: -100%;
  margin-top: 50px;
  animation: present-flashed 8s ease 0.5s 1 normal forwards;
  -webkit-animation: present-flashed 8s ease 0.5s 1 normal forwards;
}

.flash {
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
  opacity: 0.8;
  border-radius: 5px;
}

@keyframes present-flashed {
  0%, 100% {
    top: -100%;
  }
  5%, 80% {
    top: 0%;
  }
}

@-webkit-keyframes present-flashed {
  0%, 100% {
    top: -100%;
  }
  5%, 80% {
    top: 0%;
  }
}

.follow-btn {
  background-color: #6666ff;
  color: white;
  font-size: 18px;
  padding: 5px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.follow-btn:hover {
  background-color: #4444cc;
}

.icon-size {
  width: 20px;
  height: 20px;
}
