<html>
  <head>
    <title>{{ title }} - Loudspeaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <ul class="nav">
      <li class="nav-logo nav-left">
        <a href="{{ url_for('index') }}">Loudspeaker</a>
      </li>
      {% if g.user.is_authenticated %} 
      <li class="nav-right">
        <a href="{{ url_for('logout') }}">Logout</a>
      </li>
      <li class="nav-right">
        <a href="{{ url_for('user', username=g.user.username) }}">Your Profile</a>
      </li>
      {% else %}
      <li class="nav-right">
        <a href="{{ url_for('signup') }}">Sign Up</a>
      </li>
      <li class="nav-right">
        <a href="{{ url_for('login') }}">Login</a>
      </li>
      {% endif %}
      <li class="nav-right">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
    </ul>
    <div class="filler">
      <!-- empty so user can see things otherwise hidden by the nav bar -->
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-holder">
      {% for message in messages %}
      <div class="flash">{{ message }} </div><br>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
