<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<center>
  <div class="card">
    <span class="title">Log in</span>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
      Username:
      {{ form.username(autofocus=true) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      <a href="{{ url_for('forgot_username') }}">Forgot username</a>
      </p>
      <p>
      Password:
      {{ form.password() }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      <a href="{{ url_for('forgot_password') }}">Forgot password</a>
      </p>

      <p>
      <center>
        {{ form.submit(value="Log in") }}
      </center>
      </p>
    </form>
  </div>
</center>
{% endblock %}
