<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<center>
  <div class="card">
    <span class="title">Log in</span>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
      Username:
      {{ form.username() }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
      <p>
      Password:
      {{ form.password() }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p><input type="submit" value="Sign In"></p>
    </form>
  </div>
</center>
{% endblock %}
