<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<center>
  <div class="card">
    <span class="title">Sign Up</span>
    <form action="" method="post" name="signup">
      {{ form.hidden_tag() }}
      <p>
      First Name:
      {{ form.firstname(autofocus=true, placeholder="Ex: John") }}<br>
      {% for error in form.firstname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Last Name:
      {{ form.lastname(placeholder="Ex: Smith") }}<br>
      {% for error in form.lastname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Nickname:
      {{ form.nickname(placeholder="Ex: johnny") }}<br>
      {% for error in form.nickname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Email:
      {{ form.email(placeholder="Ex: johnsmith@gmail.com") }}<br>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Username:
      {{ form.username(placeholder="Ex: jsmith") }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
      <p>
      Password:
      {{ form.password() }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
      <p>
      Confirm Password:
      {{ form.password2() }}<br>
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      <center>
        {{ form.submit(value="Sign up") }}
      </center>
      </p>
    </form>
  </div>
</center>
{% endblock %}
