<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<center>
  <div class="card">
    <span class="title">Sign Up</span>
    <form action="" method="post" name="signup">
      {{ form.hidden_tag() }}
      <p>
      First Name:
      {{ form.firstname() }}<br>
      {% for error in form.firstname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Last Name:
      {{ form.lastname() }}<br>
      {% for error in form.lastname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Nickname:
      {{ form.nickname() }}<br>
      {% for error in form.nickname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Email:
      {{ form.email() }}<br>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>
      Username:
      {{ form.username() }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
      <p>
      Password:
      {{ form.password() }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
      <p>
      Confirm Password:
      {{ form.password2() }}<br>
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>

      <p>{{ form.submit(value="Sign up") }}</p>
    </form>
  </div>
</center>
{% endblock %}
